/*リセットCSS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  width: 960px;
  margin: 0 auto;
  padding: 50px 0;
}

.list {
  list-style: none;
}

.list-item {
  padding: 20px;
}

.list-item:nth-child(odd) {
  background-color: lightgray;
}